{% if AUTHOR_IMAGE %}
<img src="{{ AUTHOR_IMAGE }}" class="img-rounded"/>
{% endif %}

{% include "_about.html" %}
{% include "_archives.html" %}

{% if LINKS or SOCIAL %}
<div class="well sidebar-nav">
  <ul class="nav nav-list">
          <script>
       (function() {
         var cx = '008176316909509740226:lgxj0_nm9mu';
         var gcse = document.createElement('script');
         gcse.type = 'text/javascript';
         gcse.async = true;
         gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
             '//www.google.com/cse/cse.js?cx=' + cx;
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(gcse, s);
       })();
     </script>
     <gcse:search></gcse:search>
  </ul>

  {% if LINKS %}
  <ul class="nav nav-list">
    <li class="nav-header">Blogroll</li>
    {% for name, link in LINKS %}
    <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if SOCIAL %}
  <ul class="nav nav-list social">
    <li class="nav-header">Elsewhere</li>
    {% for name, link in SOCIAL %}
    <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div><!--/.well -->
{% endif %}
